# Ignore environment variables
.env
# Ignore SQLite database
db.sqlite3
# Ignore virtual environment
.venv

# Ignore psycache files from any folder
*.pyc
__pycache__/
*.pyo
*.pyd

# Add any other files or folders you want to ignore
migrations/